{% extends 'base.html' %}

{% block title %}ITDT - Mapa PTI{% endblock %}

{% block content %}

    <!-- <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <img src="../../static/img/LOGO_PTI_0.png" class="img-thumbnail w-25 p-3 border-0 bg-transparent" alt="Logomarca PTI">
            <h1 class="display-4">Fluid jumbotron</h1>
            <p class="lead">Este é um jumbotron modificado que ocupa todo o espaço horizontal de seu elemento pai.</p>
        </div>
    </div> -->

    <div id='map' class="border-0"> </div>
    <input type="hidden" id="areas_geojson" value="{% url 'area:area_geojson' %}">

{% endblock %}