html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#map {
    /* 
    Configuração mínima para exibir o mapa na tela
    width: 600px;
    height: 400px; */
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: calc(100vh - 75px);
    border: 1px solid #cfcfcf;
    border-radius: 0px;
}

.leaflet-popup-content {
    display: block;
    margin: 0;
    padding: 0;
}

.leaflet-popup-content span {
    display: block;
    font-weight: bold;
}

.foto{
    height: 60px;
    margin: 0;
    padding: 0;
}
